*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url('images/bg-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

p {
  text-align: center;
  padding: 0 35px;
  line-height: 1.5em;
}

#background {
  width: 83%;
  margin: 0 auto;
  max-width: 1200px;
}

#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(375px * 0.42);
  margin: 2em 0;
}

#mockups {
  width: 100%;
  margin: 5em 0 3.5em 0;
}

#content {
  text-align: center;
}

#button-container {
  text-align: center;
  margin-top: 30px;
}

button {
  font-family: 'Poppins', sans-serif;
  color: hsl(257, 40%, 49%);
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 14px;
  width: 65%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover,
button:active {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}

footer {
  margin: 6em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 120px;
}

.icon:hover,
.icon:active {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.icon {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 900px) {
  body {
    background-size: cover;
    background-image: url(/images/bg-desktop.svg);
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
  }

  main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #background {
    width: 100%;
  }

  #logo {
    margin: 2% 0 1% 0;
    width: 20%;
  }

  #content {
    margin-left: 2em;
    margin-right: 0;
    text-align: center;
    max-width: 600px;
  }

  footer {
    margin-top: 20px;
    justify-content: flex-end;
  }
}
